//== declare variable in root ==//
//== start ==//
:root{

    //== colors variable ==//
    //== start ==//
    --yellowColor: #FFF45A;
    --lightYellowColor: #FFF45A;
    --darkYellowColor: #9F9738;
    --whiteColor: #FFFFFF;
    --blackColor: #000000;
    --grayColor: #707070;
    --grayBlueColor: #2C2C92;
    //== end ==//
    
    //== font family variable ==//
    //== start ==//
    --arabicFont: 'Cairo', sans-serif;
    //== end ==//
}
//== end ==//